{block content}

<div class="row">
    <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="pull-left">
            <h2>{$mainAlbum->name}</h2>
        </div>
    </header>

    <main class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {if $user->loggedIn}
            <div id="upload">
                {control uploadImagesForm}
            </div>
        {/if}
    </main>
</div>