{block content}

<p id="decision" class='alert alert-warning'>
    Naozaj chcete odstrániť podsekciu <span class="text-danger text-uppercase">{$subSection->name}</span> ?
    {control removeForm}
</p>