#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\Model\AlbumsRepository
	- App\Model\AnswersRepository
	- App\Model\FilesRepository
	- App\Model\ImagesRepository
	- App\Model\LevelsRepository
	- App\Model\LevelsResultsRepository
	- App\Model\NoticesRepository
	- App\Model\PostsRepository
	- App\Model\QuestionsRepository
	- App\Model\PostImagesRepository
	- App\Model\ResultsRepository
	- App\Model\SectionsRepository
	- App\Model\SlidesRepository
	- App\Model\TestsRepository
	- App\Model\UsersRepository

	# Form factories
	- App\Forms\FormFactory
	- App\Forms\SignFormFactory
	- App\Forms\UploadFormFactory
	- App\Forms\ModalRemoveFormFactory
	- App\Forms\PostFormFactory
	- App\Forms\RemoveFormFactory
	- App\Forms\SectionFormFactory

	router: App\RouterFactory::createRouter
	authenticator: App\Model\Authenticator