#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

forms:
	messages:
		REQUIRED: 'Pole %label je povinné.'
		EMAIL: 'Neplatná emailová adresa: %value.'
		IMAGE: '%label môže byť len vo formáte JPEG, PNG alebo GIF.'
		URL: 'Hodnota políčka %label musí byť absolútna URL.'
		INTEGER: 'Hodnota políčka %label musí byť celé číslo, nie %value.'
		MAX_LENGTH: '%label môže mať maximálne %value znakov'

session:
	expiration: 14 days


services:
    # Components
    - App\Components\BreadcrumbControl

    # Repositories
    - App\Model\AlbumsRepository
    - App\Model\AnswersRepository
    - App\Model\ApplicationFormsRepository
    - App\Model\BranchesRepository
    - App\Model\BranchCoursesRepository
    - App\Model\ContentsRepository
    - App\Model\CourseLevelsRepository
    - App\Model\CoursesRepository
    - App\Model\ImagesRepository
    - App\Model\LevelsRepository
    - App\Model\LevelsResultsRepository
    - App\Model\NoticesRepository
    - App\Model\QuestionsRepository
    - App\Model\ResultsRepository
    - App\Model\SectionsRepository
    - App\Model\SlidesRepository
    - App\Model\TestsRepository
    - App\Model\UsersRepository

    # Forms
    - App\Forms\AlbumFormFactory
    - App\Forms\AddFileContentFormFactory
    - App\Forms\AddImageContentFormFactory
    - App\Forms\BranchFormFactory
    - App\Forms\CourseFormFactory
    - App\Forms\CourseLevelFormFactory
    - App\Forms\EditNoticeFormFactory
    - App\Forms\EditSlideFormFactory
    - App\Forms\EditUserFormFactory
    - App\Forms\FormFactory
    - App\Forms\FileUploadFormFactory
    - App\Forms\FinishFormFactory
    - App\Forms\SearchFormFactory
    - App\Forms\SignFormFactory
    - App\Forms\ImageUploadFormFactory
    - App\Forms\ModalRemoveFormFactory
    - App\Forms\MultiUploadFormFactory
    - App\Forms\NoticeFormFactory
    - App\Forms\PasswordFormFactory
    - App\Forms\PostFormFactory
    - App\Forms\QuestionFormFactory
    - App\Forms\RemoveFormFactory
    - App\Forms\SectionFormFactory
    - App\Forms\SlideFormFactory
    - App\Forms\TestFormFactory
    - App\Forms\TextContentFormFactory
    - App\Forms\UserFormFactory

    # Security
    - App\Security\PermissionFactory

    router: App\RouterFactory::createRouter
    authenticator: App\Model\Authenticator
    authorizator: App\Security\Authorizator(@App\Security\PermissionFactory::create())