{block content}

<section id="tests" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="clearfix">
    <div class="float-left">
      <h2 n:block="title">Otázky k testu {$test->label}</h2>
    </div>
    <div class="float-right">
      <button type="button" class='btn btn-success' data-toggle="modal" data-target="#addForm">
        <i class="fas fa-plus"></i> Pridať
      </button>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" n:if="$questions->count() > 0">
    <div class="list-group">
      {foreach $questions as $question}
        {var $answers = $question->related('answers')}
        <div id="question{$question}" class="list-group-item">
          <span class="list-group-item-heading">{$iterator->counter}. {$question->label}</span>
          <a n:href="Answers:all, $question->id" class="text-success">
            <i data-feather="edit-2"></i>
          </a>&nbsp;
          <a class="text-danger">
            <i data-feather="trash-2"></i>
          </a>
          <p class="list-group-item-text" n:if="$answers->count() > 0">
            <ol style="list-style-type: upper-alpha">
              {foreach $answers as $answer}
                <li n:class="$answer->correct ? 'text-success' : 'text-warning'">{$answer->label}</li>
              {/foreach}
            </ol>
          </p>
        </div>
      {/foreach}
    </div>
  </div>
</section>

<!-- Questions Modal -->
<div class="modal fade" id="addForm" tabindex="-1" role="dialog" aria-labelledby="addFormModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFormModalLabel">Pridať otázku</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {control addForm}
      </div>
    </div>
  </div>
</div>