{block content}

<div class="row">
  <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="float-left">
      <h2 n:block=title>Súkromie</h2>
    </div>
  </header>
  <main id="privacy" class="row">
  </main>
</div>