{block content}

<h1 n:block=title>{$section->name}</h1>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  {control textContentForm}
</div>

{block scripts}
  {include parent}
  <script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
  <script type="text/javascript" src="{$basePath}/js/ckeditor.init.js"></script>
{/block}