{block content}

<section id="tests" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Testy</h2>

    <div class="table-responsive">
	    <table class="table">
	    	<thead>
	    		<tr>
	    			<td>Kód</td>
	    			<td>Názov</td>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		{foreach $tests as $test}
	    			<tr>
	    				<td>{$test->code}</td>
	    				<td>{$test->name}</td>
	    			</tr>
	    		{/foreach}
	    	</tbody>
	    </table>
    </div>
</section>