{block content}

<p class='alert alert-warning' style='margin: 25px 15px 25px 0'>
    Naozaj chcete odstrániť obrázok <span class="text-danger text-uppercase">{$img->name}</span> ?
    {control removeImageForm}
</p>