{block content}

<div class="row">
  <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="float-left">
      <h2 n:block=title>Prihláška na štúdium</h2>
    </div>
  </header>
</div>