{block content}

<div class="row">
  <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 n:block=title>Prihláška bola úspešne prijatá</h2>
    <div>
      <h3>{$name}</h3>
      <p>Ďalšie informácie vám pošleme mailom.</p>
      <p>Ďakujeme, že ste si vybrali práve našu jazykovú školu.</p>
    </div>
  </header>
</div>