{block content}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <h2>Pridať sekciu</h2>

    <div class="alert alert-dismissible alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Tip</h4>
        Sekcia s vyššou prioritou sa zobrazí skôr ako sekcia s nižšou prioritou.
    </div>

    {control addForm}

</div>