{block content}

<div class="row">
  <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="pull-left">
      <h2 n:block="title">Upraviť banner</h2>
    </div>
  </header>
  <main class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {control editForm}
  </main>
</div>
