{block content}
<h1 n:block=title>Prihlásenie</h1>

<div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
  {control signInForm}
</div>
    
{* or use {include '../components/form.latte', form => signInForm} *}
