/* Custom CSS document */

div#page {
    margin: 0 auto;
    width: 80%;
    min-height: 600px;
    max-width: 984px;
    position: relative;
    margin-top: 35px;
    border: 10px solid #CCC;
}

div#primary > main#content {
    border-top: 10px solid #CCC;
    border-bottom: 10px solid #CCC;
    margin-left: 15px;
}

div#primary > main#content > div.row {
    background: rgba(255,255,255,0.9);
    padding: 15px;
    min-height: 400px;
}

div#primary > aside {
    background: #ffffff; 
    height: 100%;
    padding: 14px;
    margin-left: 15px;
    border: 10px solid #CCC;
    border-left: none;
}

div#primary > aside > ul > li > a {
    background: green;
    color: #fff;
    margin: 0px;
}

div#primary > aside > ul > li > a:hover,
div#primary > aside > ul > li > a:focus {
    background: #FFA500;
    color: #000;
}

div#primary > aside > ul > li > ul {
    margin: 0;
    padding: 0;
}

div#primary > aside > ul > li > ul > li {
    list-style: none;
}

div#primary > aside > ul > li > ul > li > a {
    color: black;
    padding: 0 5px;
    margin: 2px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    display: block;
    width: 100%;
    background: rgba(128,205,39,0.95); // #80CD27
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div#primary > aside > ul > li > ul > li > a:focus,
div#primary > aside > ul > li > ul > li > a:hover{
    background: #FFA500;
    color: #000;
}

div#page > header {
    height: 140px;
    background-image: url('../images/header.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

div#page > footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #80CD27;
    color: #ffffff;
    font-weight: bold;
    border: none;
}

