html > body {
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    background: rgb(150,150,150) /*rgb(128,205,39)*/;
}

h1 {
    color: #3484D2;
}

#ajax-spinner {
    margin: 15px 0 0 15px;
    padding: 13px;
    background: white url('../images/spinner.gif') no-repeat 50% 50%;
    font-size: 0;
    z-index: 123456;
    display: none;
}

div.flash {
    color: black;
    background: #FFF9D7;
    border: 1px solid #E2C822;
    padding: 1em;
    margin: 1em 0;
}

a[href^="#error:"] {
    background: red;
    color: white;
}

form th, form td {
    vertical-align: top;
    font-weight: normal;
}

form th {
    text-align: right;
}

form .required label {
    font-weight: bold;
}

form .error {
    color: #D00;
    font-weight: bold;
}

/* CSS style for carousel */

.carousel-message {
    background: rgba(1,1,1,0.5);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 15px 50px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.customize-carousel {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    z-index: 999;
}

.customize-carousel > a{
    padding: 0 10px;
    color: #ffffff;
}

.customize-carousel > a:focus,
.customize-carousel > a:hover{
    color: rgb(200,200,200);
    text-decoration: none;
}

div.carousel.slide > .carousel-indicators{
    background: rgba(150,150,150,0.8);
    width: 100%;
    height: 50px;
    top: 240px;
    left: 213px;
    line-height: 50px;
}

div#myCarousel {
    margin-top: 15px;
}

section#posts > article.row {
    margin: 50px 0 25px 0;
}

main#imgs > figure > figcaption,
main#albums > figure > figcaption{
    margin: 10px;
}

main#albums > figure > a > img{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-moz-radius: 5px;
}
