html, body {
  font-size: 16px;
  line-height: 27px;
  color: black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* CSS style for carousel */
/*
.carousel-message {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 15px 50px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.customize-carousel {
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  z-index: 999;
}

.customize-carousel > a {
  padding: 0 10px;
  color: #ffffff;
}

.customize-carousel > a:focus,
.customize-carousel > a:hover {
  color: rgb(200,200,200);
  text-decoration: none;
}

div.carousel.slide > .carousel-indicators {
  background: rgba(150,150,150,0.8);
  width: 100%;
  height: 50px;
  top: 240px;
  left: 213px;
  line-height: 50px;
}

div#myCarousel {
  margin-top: 15px;
}
*/

section#posts > article.row {
  margin: 50px 0 25px 0;
}

#page {
  margin: 0 auto;
  width: 100%;
  min-height: 600px;
  position: relative;
  background: rgb(255, 255, 255);
}

#page > footer {
  height: auto;
  font-size: 16px;
  text-align: center;
  background: green;
  color: #ffffff;
  border: none;
  padding: 20px;
}

#scroll-to-top {
  width: 50px;
  height: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  border: 1px solid green;
  outline: none;
  background-color: #FFFFFF;
  color: green;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
}
